*.iml
.gradle
/local.properties
local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.iml
.DS_Store
/build
/captures
.externalNativeBuild

/*/build/
.signing/
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
