<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2018 Idealnaya rabota LLC
  ~ Licensed under Multy.io license.
  ~ See LICENSE for details
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.multy">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Multy"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_app_round"
        android:hardwareAccelerated="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute"
        tools:replace="android:allowBackup, android:supportsRtl">

        <activity
            android:name=".ui.activities.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch URI scheme -->
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="multy" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="multy.test-app.link"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.io.multy.contacts.profile" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.activities.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.CreateAssetActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".ui.activities.AmountChooserActivity"
            android:label="@string/receive_amount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SeedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.AssetRequestActivity"
            android:label="@string/receive"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.AssetSendActivity"
            android:label="@string/send_to"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Send" />
        <activity
            android:name=".ui.activities.PinSetupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustNothing" />
        <activity
            android:name=".ui.activities.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.DonationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.MagicSendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.FastReceiveActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.ImportWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.FoundWalletsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.CreateMultiSigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ImportMultisigActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ImportEthWalletActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.TokenSendActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ExchangeActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"
            android:screenOrientation="portrait" />

        <!-- Branch install referrer tracking -->
        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!--<meta-data-->
        <!--android:name="firebase_analytics_collection_deactivated"-->
        <!--android:value="true" />-->

        <meta-data
            android:name="io.branch.sdk.auto_link_request_code"
            android:value="@integer/AutoDeeplinkRequestCode" />


        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_hnDTA3d2e5UI8dsmyyY3lihgysidlhdi" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_niyUD9c8fYOV7kwmBIgiJmdlqrkehhdD" />


        <service android:name=".fcm.MultyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".fcm.MultyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.AuthService"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_app"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".service.SyncService"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_app"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts" />
        </service>

        <service android:name=".service.BluetoothService"
                 android:enabled = "true"
                 android:exported = "true"/>

        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/channel_id" />

        <receiver
            android:name=".ui.fragments.asset.AssetInfoFragment$SharingBroadcastReceiver"
            android:exported="true" />

    </application>
</manifest>