<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2018 Idealnaya rabota LLC
  ~ Licensed under Multy.io license.
  ~ See LICENSE for details
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.multy">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Multy"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_app_round"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".ui.activities.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch URI scheme -->
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="multy" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="multy.test-app.link"
                    android:scheme="https" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.activities.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.CreateAssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AmountChooserActivity"
            android:label="@string/receive_amount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SeedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.AssetRequestActivity"
            android:label="@string/receive"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.AssetSendActivity"
            android:label="@string/send_to"
            android:screenOrientation="portrait"
            android:theme="@style/Send" />
        <activity
            android:name=".ui.activities.ExchangingActivity"
            android:label="@string/exchange"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.PinSetupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustNothing" />
        <activity
            android:name=".ui.activities.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".ui.activities.DonationActivity"
            android:screenOrientation="portrait" />

        <!-- Branch install referrer tracking -->
        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!--<meta-data-->
        <!--android:name="firebase_analytics_collection_deactivated"-->
        <!--android:value="true" />-->

        <meta-data
            android:name="io.branch.sdk.auto_link_request_code"
            android:value="@integer/AutoDeeplinkRequestCode" />


        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_hnDTA3d2e5UI8dsmyyY3lihgysidlhdi" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_niyUD9c8fYOV7kwmBIgiJmdlqrkehhdD" />


        <service android:name=".fcm.MultyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".fcm.MultyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/channel_id" />

        <receiver
            android:name=".ui.fragments.asset.AssetInfoFragment$SharingBroadcastReceiver"
            android:exported="true" />

    </application>
</manifest>